/*
  ===========================================================================
    @description - This is the master sass file where you import all the 
    styling
  ===========================================================================
*/

@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaPro/Sofia\ Pro\ Regular.otf") format("opentype");
}
html {
  background-color: white;
}

#RegisterPage {
  background-color: white;
}

/* Pages styling */
@import "./pages/register.scss";
@import "./pages/login.scss";
@import "./pages/forgotpass.scss";
@import "./pages/resetpass.scss";
@import "./pages/authorize.scss";
@import "./pages/dashboard.scss";
@import "./pages/viewscan.scss";

/* Components in Pages styling */
@import "./pages/components/brandlogo.scss";
@import "./pages/components/navbar.scss";

html,
body {
  background-color: #faf8fa;
}
