/*
  ===========================================================================
    @description - This is the master sass file where you import all the 
    styling
  ===========================================================================
*/

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro/Sofia\ Pro\ Regular.otf') format('opentype');
}

html {
  background-color: white;
}

/* Pages styling */
@import './pages/register';
@import './pages/login';
@import './pages/forgotpass';
@import './pages/resetpass';
@import './pages/authorize';
@import './pages/code';
@import './pages/dashboard';
@import './pages/scanning';
@import './pages/viewscan'; //Checkout Process
@import './pages/profile';
@import './pages/settings';

/* Components in Pages styling */
@import './components/brandlogo';
@import './components/navbar';
@import './components/mobilenav';
@import './components/returncategory';
@import './components/productcard';
@import './components/addressform';
@import './components/paymentform';
@import './components/datepicker';
@import './components/scheduledcard';

/* Modals */
@import './modals/returnpolicy';
@import './modals/sizeguide';
@import './modals/cancelorder';
@import './modals/passchangesuccess';
@import './modals/addemail';
@import './modals/addpickup';
@import './modals/addeditproduct';
@import './modals/schedulingmodal';

html,
body {
  background-color: #faf8fa;
}
