@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
button,
a {
  font-family: "Roboto", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}

.sofia-pro {
  font-family: "Sofia Pro";
}
