.main-brand-logo {
  width: 143px;
  height: 36px;
  margin-left: 56px;

  @media (max-width: 540px) {
    width: 98px;
    height: 36px;
    margin-left: 16px;
    margin-top: 14px;
  }
}

.dashboard-logo {
  height: 36px;
  width: 143px;
  top: 12px;
  border-radius: 0px;
  margin-right: 26px;

  @media (max-width: 540px) {
    position: initial;
  }
}
