#Footer {
  padding: 53px 128px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-container {
    width: 100%;
    .footer-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    margin: 0;
    display: flex;
  }

  .link {
    padding: 12px 25px;

    :hover {
      color: rgb(40, 3, 66);
    }

    a {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #570097;
      svg.fill-svg {
        fill: #570097;
      }
    }
  }

  .link-container {
    display: flex;

    .footer-link {
      font-family: 'Sofia Pro';
      color: #570097;

      :hover {
        color: rgb(40, 3, 66);
      }
    }

    .footer-link-divider {
      padding-right: 5px;
      padding-left: 5px;
      color: #570097;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
