.navigation-bar {
  background-color: #faf8fa !important;
}

.navbar-nav {
  font-size: 16px;
  line-height: 22px;
}

#DashboardNav {
  display: contents;

  .container {
    width: auto;

    @media (max-width: 800px) {
      width: 400px;
    }

    @media (max-width: 660px) {
      width: 300px;
    }
  }

  .background-color {
    background-color: #f7f5f7;
  }

  .input-group.input-group-merge > .form-control:focus {
    background-color: #f7f5f7;
  }

  .input-group {
    width: 840px;

    @media (min-width: 769px) and (max-width: 1100px) {
      width: 500px;
    }
  }

  .input-group-lg > .form-control {
    font-size: 16px;
  }

  .input-group.input-group-merge > .input-group-prepend > .input-group-text {
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
    border: none;
  }

  .form-control {
    border: none;
  }

  .dropdown-menu {
    left: -105px;
    font-size: 16px;
    text-align: left;
    height: 211px;
    width: 160px;
    border-radius: 8px;
    padding: 15px 0px;
  }

  .dropdown-item {
    line-height: 22px;
    padding: 10px 20px;

    &:focus {
      color: #2e1d3a !important;
    }
  }

  .select-dropdown {
    margin: 0;
  }

  .navbar {
    @media (max-width: 768px) {
      height: 64px;
    }
  }

  .navbar-collapse {
    position: relative;
    right: 1%;
  }

  .search {
    border: none;
    background: #f7f5f7;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #8b888c;
    width: 61vw;
  }

  .search::placeholder {
    color: #8d888d;
  }

  .search-bar-input {
    @media (max-width: 991px) {
      display: none;
    }
  }

  //profile dropdown
  #nav-toggle {
    @media (max-width: 991px) {
      display: none;
    }

    .dropdown-toggle::after {
      color: white;
      background-image: url('../../icons/InvertedTriangle.svg');
      background-repeat: no-repeat;
      position: absolute;
      top: 45%;
    }
  }

  .dropdown-line {
    color: #e8e7e9 !important;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 75%;
  }
}

#GuestNav {
  display: flex;
  flex: 1;

  .nav-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  ul {
    margin: 0;
    display: flex;
  }

  .link {
    padding: 12px 15px;

    a {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #570097;
    }
    :hover {
      color: rgb(40, 3, 66);
    }
  }

  .auth-link {
    padding: 12px 36px;
  }

  #auth-buttons {
    display: flex;
    margin-right: 104px;
  }
}
