#PaymentMethods {
  .card-header {
    padding: 0px;
    height: 48px;
    border: none;

    .card-header-title {
      font-size: 16px;
    }
  }

  .header {
    justify-content: space-between;
    margin: auto;
    min-width: 120px;
  }

  .fe-more-vertical {
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .empty-payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }

  .empty-payment-methods-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.6;

    @media (max-width: 1199px) {
      margin-bottom: 0px;
    }
  }
}

.dropdown-menu {
  left: auto !important;
  right: 10px;
}
