#PaymentMethods {
  padding: 0.75rem;

  .card-header {
    padding: 0px;
    padding-bottom: 1.25rem;
    height: 48px;
    border-bottom: 1px solid #e8e7e9;
  }

  .header {
    justify-content: space-between;
    margin: auto;
  }

  .fe-more-vertical {
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}
