#SizeGuideModal {
  .modal-content {
    background: #ffffff;
    border: 1px solid #eae8eb;
    box-shadow: 0px 4px 30px rgba(78, 72, 103, 0.08);
    border-radius: 8px;
    height: 470px;
    width: 680px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
  }

  .modal-header {
    border: none;

    .modal-title {
      font-size: 18px !important;
      line-height: 24px;
      color: #2e1d3a;
      position: absolute;
      height: 24px;
      left: 8.24%;
      right: 76.03%;
      top: calc(50% - 24px / 2 - 139px);

      height: 24px;
      width: 190px;
      left: 56px;
      top: 40px;
    }
  }

  .info {
    height: 66px;
    width: 568px;
    left: 56px;
    top: 82px;

    position: absolute;
    left: 8.24%;
    right: 8.24%;
    top: 14.45%;
    bottom: 68.51%;

    font-size: 14px;
    line-height: 22px;
    color: #2e1d3a;
  }

  .container {
    height: 162px;
    width: 490px;
    position: absolute;
    left: 11.18%;
    right: 16.76%;
    top: 45.7%;
    bottom: 23.83%;
    color: #570097;
    font-family: 'Sofia Pro';
    font-weight: 700;

    h4,
    li {
      font-family: 'Sofia Pro';
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    ul {
      margin-left: -24px;
    }

    .col-md-8 {
      padding-left: 0px;
    }

    .col-md-5 {
      width: 100%;

      position: absolute;
      height: 94px;
      left: 73.35%;
      right: 0%;
      top: calc(50% - 94px / 2);
    }
  }

  .modal-footer {
    border: none;
  }

  .btn-ok {
    background: #570097;
    border-radius: 6px;
    border: none;
    width: 110px;
    font-family: 'Sofia Pro';

    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }
}
