#AddProductModal {
  height: 547px;
  min-width: 528px;
  border-radius: 8px;

  .form-label {
    font-size: 14px;
    line-height: 16px;
    color: #2e1d3a;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  //   IMAGE
  .product-img-container {
    background: #fff;
    border: 1px solid #eae8eb;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .product-img {
      border-radius: 8px;
      width: 64px;
      height: 64px;
    }
  }

  .btn-cancel {
    padding: 0px;
    padding-right: 24px;
    background: inherit;
    border: none;
    box-shadow: none;
    color: #2e1d3a;
    font-size: 14px;
    line-height: 16px;
  }

  .btn-save {
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 24px;
  }
}
