#Authorize {
  .main-body {
    background-color: #faf8fa;
    vertical-align: middle;
    border-bottom: none !important;
    margin: auto;
    // padding-top: 120px;

    @media (max-width: 414px) {
      padding-top: 30px;
    }
  }

  // .container-lg {
  //   max-width: 70%;
  // }

  .row {
    min-height: 68vh;
    @media (max-width: 414px) {
      display: block;
    }
  }

  .col-6 {
    flex: none;
    max-width: 50%;
    @media (max-width: 414px) {
      flex: none;
      max-width: 100%;
    }
  }

  .info {
    .text-title {
      font-size: 32px;
      line-height: 37.5px;
      margin-bottom: 29px;
      height: 43px;
      width: 400px;
      left: 0px;
      top: 0px;

      @media (max-width: 414px) {
        font-size: 28px;
        width: 100%;
      }
    }

    .text-noted {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 24px;
      height: 52px;
      width: 400px;
      left: 0px;
      top: 72px;
      @media (max-width: 414px) {
        width: 100%;
      }
    }

    .text-subtitle h4 {
      position: relative;
      font-size: 16px;
      line-height: 26px;
      height: 32px;
      left: 6%;
      height: 22px;
      width: 362px;

      @media (max-width: 414px) {
        width: 100%;
      }
    }

    .text-first {
      font-size: 14px;
      line-height: 22px;
      height: 66px;
      margin-top: 40px;
      width: 400px;
      top: 300px;

      @media (max-width: 414px) {
        width: 100%;
        padding-top: 20px;
      }
    }

    h1,
    h4 {
      color: #570097;
      font-family: "Sofia Pro";
    }

    .bold {
      font-weight: bold;
    }

    .text-underline {
      text-decoration: underline;
      margin-top: 16px;
      height: 19px;

      @media (max-width: 414px) {
        width: 100%;
        padding-top: 40px;
      }
    }
  }

  .btn-authorize {
    font-family: "Sofia Pro";
    margin-top: 35px;
    padding-left: 29.5px;
    padding-right: 29.5px;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 8px !important;
    box-shadow: 0px 20px 40px -10px rgba(0, 145, 25, 0.2);
  }

  .authorize-img {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 414px) {
      img {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;
      }
    }
  }
}
