#EditOrderPage {
    padding-bottom: 73px;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }

    .noted-red {
        color: #ff1c29 !important;
    }

    p,
    div,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Sofia Pro';
    }

    .card {
        margin-bottom: 0px;
    }

    .card-height {
        height: 232px;
    }

    .section-title {
        color: #2e1d3a;
    }

    .title-container {
        display: flex;
        justify-content: space-between;
    }

    .btn-edit {
        cursor: pointer;
        color: #570097;
    }

    .btn-add-instructions {
        cursor: pointer;
        color: #570097;
    }

    .pick-up-message {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2e1d3a;
    }

    .payment-details-card-body {
        min-height: 232px;
        max-height: 232px;
    }

    .postal-name {
        color: #0e0018;
    }

    .postal-address {
        color: #0e0018;
        font-size: 14px;
        line-height: 18px;
        width: 120px;
    }

    .line1 {
        color: #0e0018;
        font-size: 14px;
        line-height: 18px;
        width: 140px;
    }

    .tel {
        color: #0e0018;
    }

    // Card details
    .end {
        display: inline-flex;

        .img-container {
            margin-right: 8px;

            .img-fluid {
                height: 32px;
                width: 40px;
                left: 0px;
                top: 0px;
                border-radius: 4px;
            }
        }

        .text {
            position: relative;
            top: 8px;
        }
    }

    .c-add {
        color: #0e0018;
    }

    .text-price-sched {
        color: #2e1d3a !important;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .call-to-action-container {
        position: absolute;
    }

    .pick-up-edit-or-btn {
        text-decoration: underline;
    }

    .pick-up-edit-or-btn:hover {
        cursor: pointer;
    }

    // Start of Right Card
    .h-292 {
        height: 292px;
    }

    .h-363 {
        height: 363px;
    }

    .pick-up-card {
        width: 248px;
    }

    .products-to-return {
        font-size: 14px;
        line-height: 16px;
        color: #0e0018;
    }

    .box-size-description {
        width: 176px;
        margin-bottom: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .line-break-1 {
        margin-top: 11px !important;
        margin-bottom: 16px !important;
        color: #e8e7e9;
    }

    .donate-quantity {
        color: #21003a;
    }

    .text-muted {
        font-size: 12px;
        line-height: 14px;
        color: #0e0018 !important;
        margin-bottom: 0px;
    }

    .value-label {
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .line-break-2 {
        margin-top: 12px !important;
        margin-bottom: 18px !important;
        color: #e8e7e9;
    }

    .line-break-3 {
        margin-top: 12px !important;
        margin-bottom: 23px !important;
        color: #e8e7e9;
    }

    .total-now {
        color: #2e1d3a;
    }

    .btn-confirm {
        margin-top: 9px;
        color: #fff;
        border-radius: 6px;
        padding: 10px;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    .btn-more-info {
        padding: 0px;
        margin: 0px;
        text-align: left;

        &:focus {
            outline: none !important;
            box-shadow: none;
        }
    }

    // End of Right Card

    // Your Products to return section
    .products-return {
        margin-top: 39px;
    }

    //  ProductCard stylings inside productcard.scss

    // Don't miss out section
    .miss-out {
        margin-top: 55px;
        margin-bottom: 17px;
    }

    .all-checkbox {
        padding-top: 0px !important;
        padding-bottom: 13px !important;
    }

    // Pick-up Confirmed Section
    .request-msg {
        width: 680px;
        margin-bottom: 18px;
    }

    .pick-up-day {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: #0e0018;
        margin-bottom: 6px !important;
    }

    .pick-up-time {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #0e0018;
    }

    .more-pick-up-info {
        font-size: 14px;
        line-height: 16px;
        color: #570097;
    }

    .pick-up-price {
        font-size: 22px;
        line-height: 26px;
        color: #21003a;
    }

    .return-type {
        font-size: 12px;
        line-height: 14px;
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-bottom: 0px;
    }

    .pick-up-reminder {
        margin-top: 9px;
        width: 216px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .back-to-products-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        background: #6aaf6a;
        border: none;
        border-radius: 8px;
        width: 160px;
        height: 40px;
        padding: 11px;
    }

    .back-to-products-text {
        margin-top: 10px;
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
        height: 40px;
        color: #ffffff;
    }

    .cancel-order {
        font-size: 14px;
        line-height: 16px;
    }

    .cancel-info {
        margin-bottom: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .add-product-info {
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .add-product-container {
        font-size: 23px;
        opacity: 0.6;
    }

}

// Empty Address and Payment
#EmptyState {
    padding-top: 52px;

    .empty-header {
        color: #2e1d3a;
    }

    .empty-sub {
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.6;
    }

    .margin-bottom {
        margin-bottom: 8px;
    }

    .btn-add-empty {
        margin-top: 24px;
        color: #fff;
        border-radius: 6px;
        padding: 10px;
        background: #570097;
        border: none;
        width: 215px;
        height: 40px;
    }
}