#Profile {
  padding-bottom: 163px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Sofia Pro';
  }

  #UserInfo {
    border: none;
    box-shadow: none;
    background-color: #faf8fa;
    position: absolute;
    width: 248px;
    height: 316px;
    top: 20%;

    .card-body {
      background-color: #faf8fa;
      padding: 0 1.5rem;
    }

    // AVATAR
    .img-container {
      background: #fff;
      border: 1px solid #eae8eb;
      border-radius: 50%;
      width: 96px;
      height: 96px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .avatar-placeholder {
        width: 32px;
        height: 32px;
      }
    }

    .name {
      font-size: 18px;
      line-height: 24px;
      color: #2e1d3a;
      margin-top: 16px;
    }

    .date {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #0e0018 !important;
      mix-blend-mode: normal;
      opacity: 0.6;
    }

    .line-break-user {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
    }

    hr {
      border-top: 1px solid #e8e7e9;
    }

    .total {
      font-size: 22px;
      line-height: 26px;
      color: #21003a;
      margin-bottom: 5px;
    }

    .total-label {
      font-size: 12px;
      line-height: 14px;
      color: #0e0018;
      mix-blend-mode: normal;
      opacity: 0.6;
    }

    .btn-primary {
      position: absolute;
      height: 52px;
      left: 0px;
      right: 0px;
      top: 264px;
      border: none;
      background: #eee4f6;
      border-radius: 6px;
      font-size: 16px;
      line-height: 19px;
      padding-top: 16px;
      color: #570097;
    }
  }
}
