#RegisterPage {
  .noted-purple {
    color: #570097;
  }

  .noted-red {
    color: red;
  }

  .noted-green {
    color: #6aaf6a;
  }

  margin: auto;

  h1,
  h4,
  p,
  small,
  a,
  button {
    font-family: 'Sofia Pro';
  }

  h3 {
    // error message
    color: red;
  }

  input {
    border: 1px solid #ece4f2;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;

    .btn-google {
      height: 48px;
      margin-top: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      border: 1px solid #f0f0f0;
      box-shadow: 0px 0px 16px rgba(78, 72, 103, 0.06),
        0px 10px 32px -10px rgba(50, 39, 98, 0.06);
      border-radius: 8px;
      font-weight: normal;
      padding-top: 10px;

      .text-google {
        color: #21003a;
        font-size: 16px;
      }
    }

    .form-control {
      height: 48px;
      font-size: 16px;
    }

    .form-pass {
      border-right: none;
    }
  }

  .text-need {
    width: 400px;
    height: 84px;
    top: 127px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #21003a;
    font-family: 'Sofia Pro';

    @media (max-width: 414px) {
      top: 47px;
    }
  }

  span {
    background: #faf8fa;
    padding: 0 10px;
    color: #dbd3e0;
  }

  .line-container {
    margin: auto;
    max-width: 440px;
  }

  .line-break {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ece4f2;
    line-height: 0.1em;
    margin: 10px 0 20px;
    background: #ece4f2;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Sofia Pro';
  }

  .form-group {
    display: flex;
    margin: auto;
    margin-bottom: 16px;
    justify-content: center;
    max-width: 440px;
  }

  .alert-danger {
    margin: auto;
    margin-bottom: 20px;
    max-width: 440px;
  }

  .text-alert {
    margin: 0 auto;
  }

  .btn-submit {
    font-size: 16px;
    display: flex;
    justify-content: center;
    max-width: 440px;
    margin: auto;

    .fe-mail {
      position: relative;
      bottom: 1px;
      padding-right: 19px;
    }
  }

  .text-muted {
    width: 440px;
    height: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #aaa5ad !important;
    font-family: 'Sofia Pro';
  }

  small,
  a {
    color: #aaa5ad;
  }

  .text-already,
  .text-left {
    max-width: 440px;
    margin: auto;
  }

  .text-already {
    margin-bottom: 48px;
    color: #21003a;
    font-size: 16px;
    line-height: 19px;
    // font-weight: bold;
    font-family: 'Sofia Pro';
    text-align: center;

    @media only screen and (max-width: 540px) {
      padding-bottom: 48px;
    }
  }

  .text-login {
    font-family: 'Sofia Pro';
    font-weight: normal;
    color: #6aaf6a;
    font-size: 16px;
    line-height: 19px;
  }

  .index-container {
    background-color: #faf8fa;
  }

  .input-group-text {
    padding: 0 10px;
    border: 1px solid #ece4f2 !important;
    background: #fff !important;

    .fe-eye {
      color: #0e0018;
      mix-blend-mode: normal;
      opacity: 0.2;
    }
  }
}

.error-email {
  margin: auto;
  max-width: 440px;
  margin-top: -16px;
  margin-bottom: 10px;
}

.error-pass-msg {
  margin-top: -13px !important;
  line-height: 22px;
  margin: auto;
  max-width: 440px;
  margin-bottom: 16px;
}
