#ResetPasswordPage {
  margin: auto;
  h1,
  h4,
  p,
  small,
  a,
  button {
    font-family: 'Sofia Pro';
  }

  h3 {
    // error message
    color: red;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;

    .btn-google {
      margin-top: 44px;
    }

    .form-control-lg {
      border: 1px solid #ece4f2;
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .noted-red {
      color: red;
      line-height: 22px;
    }
  }

  .text-header-title {
    width: 400px;
    height: 84px;
    top: 127px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #21003a;
    font-family: 'Sofia Pro';

    @media (max-width: 414px) {
      top: 47px;
    }
  }

  .text-choose {
    color: #570097;
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    // width: 400px;
    margin-top: 64px;
    margin-bottom: 24px;
  }

  .btn-submit {
    font-size: 16px;
  }

  .fe-eye-new {
    position: absolute;
    right: 5%;
    top: 265%;
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  .fe-eye-confirm {
    position: absolute;
    right: 5%;
    top: 348%;
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  .fe-eye-error {
    position: absolute;
    right: 5%;
    top: 405%;
    color: #0e0018;
    mix-blend-mode: normal;
    opacity: 0.3;
  }

  // ALERTS
  .alert {
    margin-top: 0px;
    padding: 5px;
    width: auto;

    .text-alert {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: 'Sofia Pro';
    }
  }
}

.error-msg {
  margin-top: 5px !important;
}
