#ScanningPage {
  .scanned-item-card {
    background: #ffffff;
    border: 1px solid #eae8eb;
    border-radius: 8px;
    height: 200px;
  }

  .mt-4 {
    margin-top: 29px !important;
  }

  .mb-4 {
    margin-bottom: 26px;
  }

  .text-subtitle {
    margin-bottom: 10px;
  }
}
