#Settings {
  padding-bottom: 163px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  div {
    font-family: 'Sofia Pro';
  }

  #leftCard {
    background: #faf8fa;
    border: none;
    box-shadow: none;
  }

  .card-title {
    font-family: 'Sofia Pro';
    font-size: 18px;
    line-height: 24px;
    color: #2e1d3a;
    margin-bottom: 14px;
  }

  ul,
  li,
  a {
    font-family: 'Sofia Pro';
    font-size: 14px;
    line-height: 16px;
    color: #6c6372;
    cursor: pointer;

    &:hover {
      color: #570097;
    }
  }

  .active {
    color: #570097;
  }

  #BasicInfo {
    .alert {
      margin-top: 0px;
      padding: 5px;
      width: auto;
    }

    .text-alert {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: 'Sofia Pro';

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  #EmailAddresses {
    .card-body {
      padding: 24px 25px;
    }

    .info-col {
      padding-left: 0px;
    }

    .section-info {
      font-size: 14px;
      line-height: 18px;
      color: #0e0018;
      width: 352px;
      margin-bottom: 0px;
    }

    .email-column {
      margin-left: -10px;

      @media (max-width: 767px) {
        margin-left: 0px;
      }
    }

    .form-group {
      width: 352px;
      margin-bottom: 24px;
    }

    .title-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;

      .delete-email {
        padding: 0px;
        margin: 0px;
        font-size: 14px;
        line-height: 16px;
        color: #570097;
        background-color: inherit;
        border: none;

        &:focus {
          outline: none !important;
          box-shadow: none;
        }

        &:hover {
          color: #b079da;
        }
      }
    }

    .form-label {
      font-size: 14px;
      line-height: 16px;
      color: #2e1d3a;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-bottom: 3px;
    }

    .form-control {
      border: 1px solid #ece4f2;
      border-radius: 4px;
    }

    .button-row {
      padding-right: 28px;
    }

    .btn-add-container {
      margin-top: 16px;
      display: flex;
      justify-content: flex-end;

      .add-new-email {
        height: 40px;
        width: 156px;
        border-radius: 6px;
        background: #570097;
        font-size: 14px;
        line-height: 16px;
        border: none;
      }
    }
  }

  #ChangePass {
    .change-container {
      padding: 24px 25px;
      height: 268px;
    }

    .card-body {
      padding: 0px;
    }

    .alert {
      margin-top: 0px;
      padding: 5px;
      width: auto;
    }

    .text-alert {
      margin-top: 5px;
      margin-bottom: 5px;
      font-family: 'Sofia Pro';

      svg {
        width: 20px;
        height: 20px;
      }
    }

    input {
      border: 1px solid #ece4f2;
    }

    label {
      font-size: 14px;
      line-height: 16px;
      color: #2e1d3a;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-bottom: 3px;
    }

    .input-group {
      width: 352px;
    }

    .col-pass {
      padding-left: 0px;
    }

    .form-pass {
      border-right: none;
    }

    .input-group-text {
      padding: 0 10px;
      border: 1px solid #ece4f2 !important;
      background: #fff !important;

      .fe-eye {
        color: #0e0018;
        mix-blend-mode: normal;
        opacity: 0.2;
      }
    }

    .btn-change {
      // margin-top: 7px;
      background: #570097;
      border: none;
      position: absolute;
      right: 5%;
      height: 40px;
      width: 194px;
      border-radius: 6px;

      font-family: 'Sofia Pro';
      font-size: 14px;
      line-height: 16px;
      text-align: center;

      color: #f8efff;
    }
  }

  #DeleteAccount {
    .delete-info {
      font-size: 14px;
      line-height: 18px;
      color: #0e0018;
    }

    .btn-delete {
      font-size: 14px;
      line-height: 16px;
      color: #570097;
      max-width: 352px;
      margin-bottom: 0px;
      box-shadow: none;

      &:hover {
        color: #b079da;
      }
    }
  }
}
