.main-brand-logo {
  position: relative;
  width: 150px;
  height: 55.17px;
  left: 56px;
  top: 24px;

  @media (max-width: 540px) {
    width: 98px;
    height: 36px;
    left: 16px;
    top: 14px;
    position: absolute;
  }
}

.dashboard-logo {
  height: 40px;
  width: 108px;
  top: 12px;
  border-radius: 0px;
  margin-right: 26px;

  @media (max-width: 540px) {
    position: absolute;
    left: 4.27%;
    right: 69.6%;
    top: 21.88%;
    bottom: 21.88%;
  }
}
