.main-brand-logo {
  position: relative;
  width: 150px;
  height: 55.17px;
  left: 56px;
  top: 24px;
}

.dashboard-logo {
  height: 40px;
  width: 108px;
  top: 12px;
  border-radius: 0px;
  margin-right: 26px;
}
