.navigation-bar {
  background-color: #faf8fa !important;
}

.dropdown-menu {
  left: -85px !important;
  text-align: center !important;
}

.select-dropdown {
  margin: 0;
}

.navbar-collapse {
  position: relative;
  right: 1%;
}

.search {
  border: none;
  background: #f7f5f7;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #8b888c;
  width: 61vw;
}

.search::placeholder {
  color: #8d888d;
}
